@import "bourbon";
@import "font-awesome";

body {
  
  .indivPics {
    width: 100px;
    height: 100px;
  }
  .indivDetails {
    font-size:14px;
  }

  .fa {
    color: #484848;

  }

  .contact-list-item {

  }

  h2{

  }

}
